<% content_for :returnbutton do %>
    <a class="btn btn-default" href="/products" id="returnbutton" >Back to our products list</a>
<% end %>

<section id="content-receipt" class="clearfix">
  <div id="receipt-container">
    <div class="dotmatrix left"></div>
    <div id="receipt-content">
      <h4 id="receipt-title">Thank You! (test purchase)</h4>
      <p><strong>RECEIPT</strong></p>
      <div id="receipt-details" class="row clearfix">
        <div class="col-sm-8 receipt-left">
          <p><strong class="font-weight-heavy"><%= @product.title %></strong><br/> <span class="font-weight-light">Product Type</span></p>
        </div>
        <div class="col-sm-4">
          $<%= @product.price %>
        </div>
      </div>

      <button type="button" class="btn btn-success btn-xs">DOWNLOAD</button>
      This button does not work because it is just an example to demonstrate that you can sell not only physical goods but also downloadable goods like pdf docs / images / videos etc...
      <footer id="receipt-footer">
        <small>Your purchase is complete. We hope you enjoy it!!!</small>
      </footer>
    </div>
    <div class="dotmatrix right"></div>
  </div>
  <div id="receipt-shadow"></div>
</section>